
[Desktop Entry]
Version=1.0
Type=Application
Name=Enable Firewall
Comment=
Exec=sudo /icpc/scripts/enableFirewall.sh
Icon=channel-secure-symbolic
Path=
Terminal=false
StartupNotify=false
GenericName=
